header{
    border-bottom: 1px solid black;
}
b, header p{
    font-weight: 900;
}
.content{
    width: calc(100%-200px);
    padding: 100px;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
}
.content_block{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content_block:nth-child(even){
    flex-direction: row-reverse;
}
.content_block img{
    max-width: 60%;
    aspect-ratio: 1/1;
    object-fit:scale-down ;
}
p{
    font-weight: normal ;
}

.tcon{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    padding: 10px;
}
.tcon span{
    color: #04AA6D;
}

@media (1024px < width <= 1440px){
    .content_block img{
        object-fit: contain;
    }
    .content{
        width: 100%;
        padding: 50px;
    }
    .content_block{
        width: 90%;
    }
}
@media (width <= 1024px){
    .content{
        width: 100%;
        padding: 10px;
    }
    .content_block, .content_block:nth-child(even){
        flex-direction: column; 
        width: 100%
    }
    .content_block img{
        max-width: 80%;
        object-fit: 1/1;
    }
}




.topnav a.icon{
    display: none;
  }
  @media (width <= 768px){
  
  .topnav {
    overflow: hidden;
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  
  .topnav a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  
  .topnav a.icon {
    background: white;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  
  .active {
    background-color: #04AA6D;
    color: white;
  }
  }