HTML, BODY {
    height: 100%;
    font-size: 16px;
    line-height: 1.5;
    font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
  }
  content{
    overflow: hidden;
    background-color: #ffffff;
    background-size: 0.75em 100%, 100% 100%;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    padding: 10%;
  }
  .wrapper {
    position: relative;
    flex-grow: 1;
    margin: auto;
    max-width: 1200px;
    min-width: 60%;
    max-height: 1200px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 2vmin;
    justify-items: center;
    align-items: center;
  }
  content IMG {
    z-index: 1;
    grid-column: span 2;
    max-width: 100%;
    margin-bottom: -52%;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    transform: scale(1);
    transition: all 0.25s;
  }
  content IMG:nth-child(7n + 1) {
    grid-column: 2 / span 2;
  }
  content IMG:hover {
    z-index: 2;
    transform: scale(2);
  }
.container{
  background: #ffffff;
}
header{
    border-bottom: 1px solid black;
} 
.container{
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.header_nav a:nth-child(1)::before{
  bottom: 0;
    height: 100%;
}

.topnav a.icon{
  display: none;
}
@media (width <= 768px){

.topnav {
  overflow: hidden;
  position: relative;
}

.topnav #myLinks {
  display: none;
}


.topnav a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}


.topnav a.icon {
  background: white;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}


.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.active {
  background-color: #04AA6D;
  color: white;
}
}