@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    box-sizing: border-box;
}
li{
    font-weight: normal;
}
body{
    max-width: 100vw;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    cursor: crosshair;
    color: black;
}
h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}
.container{
    z-index: 1;
    width: 100vw;
    background: rgb(248, 247, 247);

}
.header{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr 0.5fr 1fr 3fr;
    grid-template-rows: 125px 1fr 100px;
}
header{
    width: 100%;
    grid-column: 1/-2;
    grid-row: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 4;
}
.header_nav{
    width: 55%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header .logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo img{
    transition-duration: 1s;
}
.logo img:hover{
    transform: rotate(360deg);
    transition-duration: 5s;

}
.logo h1{
    font-weight: 900;
}
.header_nav a {
    color: black;
    font-weight: 900;
    text-decoration: none;
}
.header_content{
    grid-column: 2/3;
    grid-row: 1/-2;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr 1fr;
}
.header_content_info{
    z-index: 3;
    grid-column: 2/-2;
    grid-row: 1/-1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    width: 100%;
    height: 100%;
} 
.header_content_info button{
    width: 150px;
    height: 50px;
    border:0;
    border-radius: 10px;
    background: #f8f7f7;;
    box-shadow: inset 12px 12px 25px #d3d2d2,
                inset -12px -12px 25px #ffffff;
    color: aliceblue;
    transition-duration: 0.5s;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    cursor:crosshair;
}
.header_content_info button:hover{
    box-shadow:0 0 0 0 rgba(128, 128, 128, 0.185);
    box-shadow: inset 0 0 0 0 black;
    font-size:1.5rem;
}
.header_content_info h1{
    font-size: 8rem;
} 
.header_content_info p{
    max-width: 400px;

}
.header_content_info button a{
    color: rgb(10, 10, 10);
    text-decoration: none;
}
.header_content_slider{
    background: rgb(212, 200, 188);
    grid-column: 4/-1;
    grid-row: 1/-2;
    z-index: 2;
    background-size: cover !important;
    background-position-y: center !important;
    border-radius: 10px;
}
.header_content_slider img{
    width: 64px;
    height: 64px;
    color: rgba(0, 0, 0, 0);
    display: block;
    background-size: cover;
    position: relative;
    top: 50%;
    left:  90%;
    /* transition-duration: 1.5s; */

}
/*
.header_content_slider img:hover{
    filter: invert(1);
    transition-duration: 1.5s;
}
*/
.header_quick_photos{
    grid-row: 2/-1;
    grid-column: 1;
    writing-mode: vertical-rl;
    transform: scale(-1);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;

}
.header_quick_photos hr{
    height: 250px;
    border: 1px solid #2e2a2e;
}


.header_external_links{
    grid-column: 2;
    grid-row: -1/-2;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    height: 100%;
    width: 100%;
}
.header_external_links a img{
    background-size: cover;
    width: 50%;
    aspect-ratio: 1/1;
    transition-duration: 0.1s;

}
.header_external_links a img:hover{
    width: 60%;
    position: relative;
    top: -5px;
    transition-duration: 0.3s;
    left: 0px;
}
.header_slider_element{
    grid-column: -2/-1;
    grid-row: -1/-2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.header_slider_element .show{
    width: 70%;
    height: 5px;
    border: 2.5px solid #b3b3b3;
    border-radius: 10px;
    background: white;
    display: flex;
    justify-content: space-around;
}
.header_slider_element .show a{
    width: 25%;
    height: 100%;
    cursor:pointer;
}
.header_slider_element .show a:first-child{
    border-radius: 10px 0 0 10px ;
}
.header_slider_element .show a:last-child{
    border-radius: 0 10px 10px 0;
}
.checked{
    background: #b3b3b3;

}
.report{
    width: 100vw;
    height:100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr 100px;
    padding: 100px 0;
}
.report_back{
    background-image: url(../img/reportback.jpg);
    background-size: cover;
    grid-row: 1/-1;
    grid-column: 1/4;
    border-radius: 0 10px 10px 0;
}
.report_info{
    background: white;
    grid-row: 2;
    grid-column: 3/-3;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 50px 0 50px 100px;
   gap: 50px;
   
    text-align: left;
}
.report_info h3{
    font-weight: normal;
    max-width: 70%;
}
.report_info a{
    color: black;
}
.report_navigation{

    grid-column: -1;
    grid-row: 2;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
.report_navigation a{
    padding-right: 50px;
}
footer{
    margin-top: 100px;
    width: 100%;
    height: 100px;
    background: #d3d2d2;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn_nav{
    background-image: url(../img/menu-burger.png);
    background-size: cover;
    width: 25px;
    aspect-ratio: 1/1;
    border:0;
}
.hidden{
    display: none;
}
.feedback{
    width: 70%;
    margin: 0 auto;
    height: 70vh;
    background: #fff;
    padding: 100px;
}
.feedback form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
@media (768px < width <= 1280px)  {
    .header_content_info h1{
        font-size: 5rem;
    }
    .header_content_info p{
        max-width: 200px;
    }
    .header_slider_element .show{
        height: 15px;
    }
    .report_info h3{
        max-width: 90%;
    }
    .header_nav{
        gap: 5px;
    }
    header{grid-column: 1/-1;

    }
}
@media (width <= 1280px){
    .header_content_slider img{
        background-size:cover;
    }
    .report{
        height: calc(100vh + 100px);
        grid-template-columns: 1fr 1fr 5fr 1fr 1fr 1fr;
    }
    .report_back{
        grid-column: 1/-1;
        grid-row: 1/-1;        
    }
    .report_info{
        padding: 50px;
        gap:25px;
    }
    .report_navigation{
        display: none;
    }
}
@media (width <= 768px){
    .btn_nav{
        display: block;
    }
    .header_quick_photos{
        display: none;
    }
    .header_nav{
        display: none;
    }
    .header{
        height: auto;
        grid-template-rows: 125px 20vh 40vh 100px 30vh 60vh 100px 30vh;
        grid-template-columns: 1fr;
    }
    header,.header_content_info,.header_content_slider,.header_external_links,.header_slider_element{
        grid-column: 1/-1;
    }
    header{
        grid-row: 1/2;
    }
    .header_content_info{
        grid-row: 3/4;
        padding: 50px;
        align-items: center;
        gap: 0;
    }
        .header_content_info button{
            display: none;
        }
    .header_external_links{
        grid-row: 4/5;
    }
    .header_content_slider{
        grid-row:6/7;
    }
        .header_content_slider img{
            display: none;
        }
    .header_slider_element{
        grid-row:7/8;
    }
        .header_slider_element .show{
            height: 20px;
        }
    .report{
        grid-template-columns:1fr 5fr 1fr
    }
}

.topnav a.icon{
    display: none;
  }
  @media (width <= 768px){
  
  .topnav {
    overflow: hidden;
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  
  .topnav a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  
  .topnav a.icon {
    background: white;
    display: block;
    position: absolute;
    right: 0;
    top: 50;
  }
  
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  
  .active {
    background-color: #04AA6D;
    color: white;
  }
  }