*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container{
	width: 85%;
	margin: 0 auto;

}
a{
	text-decoration: none;
}
header{
	width: 100%;
	height: 50px;
	margin: 0 auto;
	border-bottom: 1px solid grey;
	display: flex;
	justify-content: space-around;
	align-content: center;

}
header h1{
	font-size: 	2.5em;
	font-family: 'Inconsolata', monospace;
}
header ul{
	list-style-type: none;
	display: flex;
}
header ul li{
	padding: 20px;
}
.hyperlink{
	color: black;
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
}
.hyperlink:hover{
	color: rgb(25 25 112
);
}
.content{
	width: 100%;
	height: 250vh;
	margin: 0 auto; 
	padding-left: 20px;
	padding-right: 20px;	
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr 50px;
	grid-template-columns:  1fr 1fr;
	grid-gap: 20px;
	padding: 20px;
}
.text{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-content: center;
}
.content img{
	width: 100%;
}
.content .text p, .content img{
	font-size: 2em;
	font-family: 'Raleway', sans-serif;
	padding: 40px;
	font-weight: bold;	
	text-align: justify;
}
.content button{
	font-family: 'Raleway', sans-serif;
	font-size: 2em;
}
footer{
	width: 100vw;
	height: 50px;
	background: lightgrey;
}
footer h3{
	text-align: center;

}
.ft{
	text-decoration: none;
	color: black;
}
.ftd{
	text-decoration: none;
	color: white;
}
.dark{
	background:#2A2A2A;
	color: white;
}
.darkcolor{
	color: white;	
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
}
.darkcolor:hover{
	color: orange;
}
.db{
	background: #D86900;
}
.content img{
	background: green;
	
}
@media screen and (max-device-width:880px ) {
	.content{
		height: auto;
		grid-template-columns: 1fr;
		grid-gap: 5px;
		padding: 20px;
	}
	img{
		display: none;
	}
}